{% extends 'html/blank.html' %}
{%load static%}
{% block body %}
<!-- NAV HERE -->
<!-- NAV -->
<header id="header" class="header">
    <div class="header-container">

        <a href="index.html" class="logo">
            <img src="{% static 'images/logos/logo.png' %}" alt="">
            <span>BharatFarmX</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#home">Home</a></li>
                <li><a class="nav-link scrollto"
                        href="/BHARAT_FARM/bharat_farm_x/assets/static/html/farm_login.html">Farmer Login</a></li>
                <li><a class="nav-link scrollto" href="#">Services<i class="fa-solid fa-chevron-down"></i></a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
            </ul>
            <i class="fa-solid fa-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<!-- NAV END -->
{% block cover_blank %}
{% endblock %}
<!-- FOOTER HERE -->
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="footer-container">
            <div class="footer-row">

                <div class="footer-info">
                    <a href="index.html" class="logo">
                        <img src="{% static 'images/logos/logo.png' %}" alt="Footer logo">
                        <span>BharatFarmX</span>
                    </a>
                    <p>BharatFarmX is a innovative solutions, dedicated towards provding farmers direct access towards
                        the market
                        or modern businesses, we strive to provide services that
                        make a positive impact.</p>
                    <div class="social-links">
                        <a href="#" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" target="_blank" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#services">Services</a></li>
                    </ul>
                </div>

                <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="footer-contact">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><strong>Phone:</strong>+919999999999<br></li>
                        <li><strong>Email:</strong>BharatFarmX@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-container">
        <div class="copyright"><i class="fa-regular fa-copyright"></i> Copyright
            <strong><span>BharatFarmX</span></strong>.
            All Rights Reserved
        </div>
    </div>
    </div>
</footer>
<!-- FOOTER END -->
{% endblock %}