{% extends 'html/blank.html' %}
{%load static%}
{% block body %}
<!-- NAV HERE -->
<!-- NAV -->
<nav>
    <input id="nav-toggle" type="checkbox" />
    <div class="logo-wrapper">
        <a target="_self">
            <img src="{% static 'images/logos/logo.png' %}" alt="logo" class="Bharatfarmx-logo" />
        </a>
    </div>

    <ul class="links">
        <li><a href="#">Home </a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">login</a></li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
<!-- NAV END -->
{% block cover_blank %}
{% endblock %}
<!-- FOOTER HERE -->
<footer>
    <div class="content">
        <div class="left box">
            <div class="upper">
                <div class="topic">About us</div>
                <p>CodingLab is a channel where you can learn HTML,
                    CSS, and also JavaScript along with creative CSS Animations and Effects.</p>
            </div>
            <div class="lower">
                <div class="topic">Contact us</div>
                <div class="phone">
                    <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
                </div>
                <div class="email">
                    <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic">Our Services</div>
            <div><a href="#">Financial help</a></div>
            <div><a href="#">Financial help</a></div>
            <div><a href="#">Financial help</a></div>
            <div><a href="#">Financial help</a></div>
            <div><a href="#">Financial help</a></div>
            <div><a href="#">Financial help</a></div>
        </div>
        <div class="right box">
            <div class="topic">Subscribe us</div>
            <form action="#">
                <input type="text" placeholder="Enter email address">
                <input type="submit" name="" value="Send">
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
    </div>
</footer>
<!-- FOOTER END -->
{% endblock %}